<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Небольшая таблица с данными</title>
</head>
<body>
    <table border="1">
        <caption>Наши контакты</caption>

            <th>Подразделение</th>
            <th>Телефон</th>
            <th>Режим работы</th>

        <tr>
            <td>Директор</td>
            <td>+79996544777</td>
            <td>Понедельник, среда с 8:00 до 12:00</td>
        </tr>
        <tr>
            <td>Приемная</td>
            <td>+79996514327</td>
            <td>Круглосуточно 7*24</td>
        </tr>
        <tr>
            <td>Бухгалтерия</td>
            <td>+79996500779</td>
            <td>Понедельник-пятница с 8:00 до 17:00</td>
        </tr>

    </table>

</body>
</html>